body{
    background-color: #fff;
}
.page{
    font-family: Verdana, Arial, sans-serif;
    background-color: #fff;
}

.grid{
    /* 61 columns of 16px */
    width: 976px;
    margin:0 auto;
}


/* 3 columns layout */
.half,
.aside{
    float:left;
}
.half{
    width: 304px;
    margin-right: 16px;
}
.aside{
    width: 336px;
    margin-bottom: 16px;
}

/* Layout A */
.layoutA .main {
    float: left;
    width: 624px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.rowOfFour{
    overflow: hidden;
    margin-bottom: 16px;
}
.rowOfFour div{
    float: left;
    width: 144px;
    margin-left: 16px;
}
.rowOfFour div:first-child{
    margin-left: 0;
}
